body {
    background-color: black;
}

#mainWindow {
    width: 512px;
    height: 480px;
    margin: auto;
    left: 50%;
    border: 2px solid gray;
    border-radius: 5px;
    position: absolute;
    padding: 0;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
}